/* Kludges to fix IE's horrible bugs */
body > .container
{
  margin-top: 50px;
}
img
{
  width: 100%;
  max-width: none;
}
.navbar .nav > li > a
{
  font-weight: normal;
}
.navbar .nav > li.active
{
  background-color: #0a2c40;
}